.navbar{
height: 50px;
margin-top: 0%;
    width: 100%;
}
.section1{
    width: 50%;
    float: left;
    height: 50px;
    margin-bottom: 1%;


}
.netflix{
    margin-top: 2%;
    margin-left: 5%;
    font-size: 30px;
    color: red;
    cursor: pointer;
}
.section2{
    width: 50%;
    float: left;
    text-align: right;
    margin-bottom: 1%;

    
}
.btn1{
    margin-top: 2%;
    height: 30px;
    width: 80px;
    margin-right: 1%;
    background-color: red;
    color: white;
    border-radius: 5px;
    border-color: black;
 
}
.btn2{
    margin-top: 2%;
    height: 30px;
    width: 80px;
    margin-right: 1%;
    background-color: red;
    color: white;

}
.logout{
    margin-top: 2%;
    height: 30px;
    width: 80px;
    margin-right: 1%;
    background-color: red;
    color: white;
    border-radius: 5px;
    border-color: black;

}
.logout:hover{
    background-color: rgb(154, 65, 30);
    color: rgb(194, 152, 152);
}

@media only screen and (max-width: 550px) {
    body {
      background-color: black;
      width: 100%;
    }
    .navbar{
        height: 50px;
        margin-top: 3%;
        width: 100%;
       
}
        .section1{
            width: 50%;
            float: left;
            height: 45px;
        
        
        }
        
        .section2{
            width: 50%;
            float: left;
            text-align: right;
            
        }
        
    .netflix{
        margin-top: -6%;
        margin-left: 5%;
        font-size: 25px;
        color: red;
    }
    .btn1{
        margin-top: 2%;
        height: 25px;
        width: 70px;
        margin-right: 5%;
        background-color: red;
        color: white;
        border-radius: 5px;
        border-color: black;
    }
    .btn2{
        margin-top: 2%;
        height: 25px;
        width: 70px;
        margin-right: 5%;
        background-color: red;
        color: white;
    
    }
    .logout{
        margin-top: 2%;
        height: 25px;
        width: 70px;
        margin-right: 5%;
        background-color: red;
        color: white;
    
    }
    
  }